
<% if current_user %>
	<h3>Welcome: <%= current_user.email %></h3>
<% else %>
	<div class="jumbotron">
		<h2>Welcome to the PhotoApp</h2>

		<p class="lead">
			You can Ask for Donation or directly Sell Your Photos here
		</p>
	</div>

		<div class="text-center">
	<div class="row">
			<div class="col-md-4">
				<div class="card">
					<div class="centrify p-2">
						<%= image_tag 'opal.svg', class: 'card-img' %>
					</div>

					<div class="card-body">
						<h2><span class="highlight">Free</span> Plan</h2>
						<span class="price-tag-free">Price: $0</span>
						<div class="features">
							<ul>
								<li>Max 1000 Image Uploads</li>
								<li>Upto 5 GB Storage</li>
								<li>Responsive Design</li>
								<li>Access Anywhere</li>
							</ul>
						</div>

						<p class="centrify">
							<%= link_to 'Choose Plan', new_user_registration_path, class: 'btn-choose-free sign-up' %>
						</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card">
					<div class="centrify p-2">
						<%= image_tag 'topaz.svg', class: 'card-img' %>
					</div>

					<div class="card-body">
						<h2><span class="highlight">Pro</span> Plan</h2>
						<span class="price-tag-pro">Price: $5</span>
						<div class="features">
							<ul>
								<li>Unlimited Image Uploads</li>
								<li>Upto 15 GB Storage</li>
								<li>Responsive Design</li>
								<li>Access Anywhere</li>
							</ul>
						</div>

						<p class="centrify">
							<%= link_to 'Choose Plan', new_user_registration_path, class: 'btn-choose-pro sign-up' %>
						</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card">
					<div class="centrify p-2">
						<%= image_tag 'gems.svg', class: 'card-img' %>
					</div>

					<div class="card-body">
						<h2><span class="highlight">Premium</span> Plan</h2>
						<span class="price-tag-premium">Price: $10</span>
						<div class="features">
							<ul>
								<li>Unlimited Image Uploads</li>
								<li>Unlimited Storage</li>
								<li>Responsive Design</li>
								<li>Access Anywhere</li>
							</ul>
						</div>

						<p class="centrify">
							<%= link_to 'Choose Plan', new_user_registration_path, class: 'btn-choose-premium sign-up' %>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
<% end %>
